*~
*_
*~bak
*-bak
*.bak
bin
build.properties
.checkstyle
.classpath
*cpJar*
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
*.orig
.pmd
.project
*.pyc
.pydevproject
*.rej
.settings
target
marketplace
bower_components
node_modules

